<project>
    <actions/>
    <description/>
    <keepDependencies>false</keepDependencies>
    <properties>
        <io.fabric8.jenkins.openshiftsync.BuildConfigProjectProperty plugin="openshift-sync@0.0.13">
            <uid/>
            <namespace/>
            <name/>
            <resourceVersion/>
            <contextDir/>
        </io.fabric8.jenkins.openshiftsync.BuildConfigProjectProperty>
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
                <hudson.model.StringParameterDefinition>
                    <name>git_url</name>
                    <description/>
                    <defaultValue>https://github.com/sherl0cks/infographic.git</defaultValue>
                </hudson.model.StringParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>git_ref</name>
                    <description/>
                    <defaultValue>dynamic-pipeline-support</defaultValue>
                </hudson.model.StringParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>application_name</name>
                    <description/>
                    <defaultValue>infographic</defaultValue>
                </hudson.model.StringParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>config_url</name>
                    <description/>
                    <defaultValue>http://api-mayas-playground.apps.env2-1.etl.rht-labs.com/labsEnv.json</defaultValue>
                </hudson.model.StringParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
    </properties>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <javaposse.jobdsl.plugin.ExecuteDslScripts plugin="job-dsl@1.51">
            <scriptText>pipelineJob("${application_name}-release-pipeline") {
              definition{
                cps {
                  script (
                  "dynamicPipeline.withReleaseType()
                  .withHttpConfiguration('${config_url}')
                  .withApplicationName('${application_name}')
                  .generateAndExecutePipelineScript()"
                  )
                }
              }
              environmentVariables {
                env('OPENSHIFT_PASSWORD','admin')
                env('SKIP_TLS','true')
              }
            }</scriptText>
            <usingScriptText>true</usingScriptText>
            <ignoreExisting>false</ignoreExisting>
            <ignoreMissingFiles>false</ignoreMissingFiles>
            <removedJobAction>IGNORE</removedJobAction>
            <removedViewAction>IGNORE</removedViewAction>
            <lookupStrategy>JENKINS_ROOT</lookupStrategy>
        </javaposse.jobdsl.plugin.ExecuteDslScripts>
    </builders>
    <publishers/>
    <buildWrappers/>
</project>
